
.images div {
    transition: .5s ease-in-out;
    overflow: hidden;
}
.images:hover div {
    transform: scale(0.9, 0.9); 
}
.images img{
    transition: .5s ease-in-out;
}

.images:hover {
    background: rgba(0, 0, 0, 0.25); 
}

.images:hover img {
    transform: scale(1.4, 1.4) rotate(-5deg);   
}



.banner {
    position: absolute;
    top: 130px;
    right: 160px;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
@media (max-width: 880px) {
    .banner {
        top: 5px;
        right: 5px;
        font-size: 24px;
    }
}

.knopka {
    position: absolute;
    background-color: transparent;
    display: inline-block;
    margin: 0 0 1rem 0;
    padding: 18px 7px;
    font-size: 0.9rem;
    border: 2px solid;
    border-radius: 0px;
}
.knopka:hover{
    background-color: transparent;
    border-color: #b3b3b3;
    color: #b3b3b3;
}

.images-first .images-text {
    color: #fff;
    position: absolute;
    padding-bottom: 25%;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: .5s ease-in-out;
}

.images-first:hover .images-text {
    padding-bottom: 50%;  
}
.images-first img {
    transition: .5s ease-in-out;    
}
.images-first:hover div {
    background: rgba(0, 0, 0, 0.75);
}
.images-image {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: .5s ease-in-out;
}
